


                        <div class="login-form-style">

                            <div class="site-logo text-center text-sm-start m-4 mb-5">
                                <a href="/Authentication/Login"><img src="/assets/img/AutoLogo.png" class="ml-auto mr-auto" alt="Logo" /></a>
                            </div>

                            <form action="#" method="post">
                          
                                <input type="email" name="user-email" placeholder="Email">
                                <input type="password" name="user-password" placeholder="Password">
                                <div class="login-toggle-btn">
                                    <input id="login-check" type="checkbox">
                                    <label for="login-check">Remember me</label>
                                    <a href="#">Forgot Password?</a>
                                </div>
                                <div class="login-btn">
                                    <button type="submit">Login</button>
                                </div>
                            </form>
                        </div>
  
   
  



