@model IEnumerable<AutoPartsHub.Models.TblItemCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@


<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-theme">
                <h4 class="card-title text-white">Item Categories</h4>
                <button type="button" class="btn bg-white" id="CreateUser">

                    <a asp-action="Create" class="text-theme" style="color:#fff">Create New</a>
                </button>

            </div>
            
            
            <div class="card-body">
                <div class="table-responsive">
                     <table class="table table-responsive-md">


    <thead>
        <tr>
            <th>
                                    Item
            </th>

            <th>
                                    Category
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
         
            <td>
                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td style="display:flex;margin-inline-start: 0px !important">
                <a asp-action="Edit" class="btn btn-sm m-2 btn-primary" asp-route-id="item.ItemCategoryId"><i class="fa fa-edit"></i></a>

                                        <form asp-action="Delete" method="post" class="deleteForm">
                                            <input type="hidden" name="id" value="@item.ItemCategoryId" asp-for="@item.ItemCategoryId" />
                                            <button type="submit" class="btn btn-danger btn-sm m-2"><i class="fa fa-trash"></i></button>
                                        </form>
            </td>
        </tr>
}
    </tbody>
</table>
                </div>
            </div>
        </div>
        </div>
        </div>
