@model AutoPartsHub.Models.TblRoll

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<style>
     .btnf-r {
         float: right !important;
     }
</style>

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Role</h4>


            </div>

            <div class="card-body">
                <div class="form-validation">


        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-6">
                                <label asp-for="RollName" class="control-label">Roll Name</label>
                <input asp-for="RollName" class="form-control" />
                <span asp-validation-for="RollName" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                            <div class="col-md-6 mt-4 ">
                            
                                <input type="submit" value="Create" class="btn btn-success btnf-r " />
                            
                                <a asp-action="Index" class="btn btn-warning btnf-r " style="margin-right:4px !important">Back to List</a>


                                </div>
                        </div>
                        </div>
        </form>
    </div>
    </div>
</div>
</div>
</div>

