@model AutoPartsHub.Models.TblVoucherCode

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .btnf-r {
        float: right !important;
    }
</style>

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Voucher Code</h4>


            </div>

            <div class="card-body">
                <div class="form-validation">

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="VoucherId" />
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label asp-for="VoucherText" class="control-label">Voucher Text</label>
                                <input asp-for="VoucherText" class="form-control" />
                                <span asp-validation-for="VoucherText" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="VoucherDiscount" class="control-label">Voucher Discount</label>
                                <input asp-for="VoucherDiscount" class="form-control" />
                                <span asp-validation-for="VoucherDiscount" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mt-4 form-check form-switch d-flex flex-column">
                                <label asp-for="Ispercentage" class="control-label">Is percentage</label>
                                <input asp-for="Ispercentage" type="checkbox" role="switch" class="form-check-input" style="margin-left=1rem" />
                                <span asp-validation-for="Ispercentage" class="text-danger"></span>
                            </div>   <div class="col-md-6 mt-4 form-check form-switch d-flex flex-column">
                                <label asp-for="IsUsed" class="control-label">Is Used</label>
                                <input asp-for="IsUsed" type="checkbox" role="switch" class="form-check-input" style="margin-left=1rem" />
                                <span asp-validation-for="IsUsed" class="text-danger"></span>
                            </div>   <div class="col-md-6 mt-4 form-check form-switch d-flex flex-column">
                                <label asp-for="IsExpired" class="control-label">Is Expired</label>
                                <input asp-for="IsExpired" type="checkbox" role="switch" class="form-check-input" style="margin-left=1rem" />
                                <span asp-validation-for="IsExpired" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mt-4">
                                <label asp-for="VoucherExpireDate" class="control-label">Voucher Expire Date</label>
                                <input asp-for="VoucherExpireDate" class="form-control" />
                                <span asp-validation-for="VoucherExpireDate" class="text-danger"></span>
                            </div>

                            <div class="col-md-12 mt-4">
                                <input type="submit" value="Save" class="btn btn-success btnf-r " />
                                <a asp-action="Index" class="btn btn-warning btnf-r" style="margin-right:2px !important">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

