@model AutoPartsHub.Models.TblShippingPolicy

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .btnf-r {
        float: right !important;
    }
</style>

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Shipping Policy</h4>


            </div>

            <div class="card-body">
                <div class="form-validation">



                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ShipingId" />
                        <div class="form-group row">
                        <div class="col-md-6">
                                <label asp-for="PolicyAmount" class="control-label">Policy Amount</label>
                            <input asp-for="PolicyAmount" class="form-control" />
                            <span asp-validation-for="PolicyAmount" class="text-danger"></span>
                        </div>
                            <div class="col-md-6 mt-4 form-check form-switch d-flex flex-column">
                                <label asp-for="IsLifeTime" class="control-label">Is LifeTime</label>
                                <input asp-for="IsLifeTime" type="checkbox" role="switch" class="form-check-input" style="margin-left=1rem" />
                                <span asp-validation-for="IsLifeTime" class="text-danger"></span>
                            </div>
                        <div class="col-md-6 mt-4">
                                <label asp-for="PolicyStatsDate" class="control-label">Policy Stats Date</label>
                            <input asp-for="PolicyStatsDate" class="form-control" />
                            <span asp-validation-for="PolicyStatsDate" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 mt-4">
                            <input type="submit" value="Save" class="btn btn-success btnf-r " />
            <a asp-action="Index" class="btn btn-warning btnf-r" style="margin-right:2px !important">Back to List</a>
                        </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

